* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

em {
  border-bottom: 2px solid #FF6F59;
  transition:cubic-bezier(1, 0, 0, 1);
  font-family: 'Space Grotesk', sans-serif;
}

small {
  font-size: 80px;
}

.enhancedTitle {
  border-bottom: 10px solid #FF6F59;
  transition:cubic-bezier(1, 0, 0, 1);
  font-family: 'Space Grotesk', sans-serif;
}

.stackTitle {

  font-family:  'Space Grotesk', sans-serif;

}
/* 
.blur:not(.noBlur){
  -webkit-filter: blur(8px);
  backdrop-filter: blur(5px);
}

.blur:not(.noBlur) {
  -webkit-filter: blur(8px);
  backdrop-filter: blur(5px);
} */