.itemStack:hover {
    background-color: #FF6F59;
    border: 2px solid #F8EFDB;
    color: #F8EFDB;
    transition: 0.3s ease-in;
}


.stackContainer {
    width: 65%;
    margin: 1rem auto;
}

.stackTitle {
    color: #F8EFDB;
    font-size: 30px;
    border-bottom: 5px solid #FF6F59;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 900px) {

    .stackContainer {
        width: 80%;
    }

}

@media screen and (max-width: 768px) {

    .stackContainer {
        width: 100%;
    }

}  



